@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
}

.wrap {
  min-height: 100vh;
  background: radial-gradient(
    96.74% 276.79% at 3.59% 5.28%,
    #f0f4ff 0%,
    #a5b6ee 100%
  );
}

header h1 img {
  display: block;
  width: 300px;
  margin: auto;
  padding: 84px 0;
}

.main {
  width: 400px;
  height: 360px;
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  margin: auto;
  padding: 48px 58px 40px 58px;
}

.title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-bottom: 57px;
}

.title::after {
  content: "";
  width: 312px;
  border-bottom: 2px solid #3D538A;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -23px;
}

.clock {
  display: flex;
  justify-content: space-between;
}

.clock p {
  color: #A5B6EE;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.clock img {
  display: block;
  margin-top: 10px;
}


.btn {
  display: flex;
  gap: 12px;
  margin-top: 40px;
  justify-content: center;
}

.start-btn {
  cursor: pointer;
}

.reset-btn {
  cursor: pointer;
}


footer {
  width: 120px;
  padding: 60px 0 103px;
  margin: auto;
}

footer p {
  color : #8596BF
}









